
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>This page was loaded at @TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time")) Pacific (via GitHub Yo!)</h3>

